@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    /* Gradiente sutil para um fundo mais dinâmico */
    background: linear-gradient(to top, #1e1e1e, #2c2c2c);
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    /* Centraliza o container verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    width: 90%;
    padding: 20px;
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

h1 {
    font-weight: 600;
    margin-bottom: 5px;
}

p {
    font-weight: 300;
    margin-top: 5px;
    opacity: 0.9; /* Deixa o texto um pouco mais sutil */
}

/* FOTO */
.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #1e90ff; /* Borda com a cor de destaque */
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
    font-weight: 400;
    border-top: 1px solid #444; /* Linha para separar as seções */
    padding-top: 20px;
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilo dos links como botões */
ul li a {
    display: block;
    background-color: transparent;
    border: 2px solid #1e90ff;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

/* Efeito ao passar o mouse sobre os botões */
ul li a:hover {
    background-color: #1e90ff;
    transform: scale(1.03); /* Efeito de "saltar" */
}

ul li a i {
    margin-right: 8px;
}